<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="cnxSqlServer" connectionString="Data Source=C-6DIPJUP2I2GSF;Initial Catalog=GestionCegep;User ID=sa;Password=sql"
   providerName="System.Data.SqlServer" />
  <add name="GestionCegep.Properties.Settings.gestionCegepConnectionString"
   connectionString="Data Source=MSI;Initial Catalog=gestionCegep;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="GestionCegep.Properties.Settings.GestionCegepConnectionString1"
   connectionString="Data Source=C-6DIPJUP2I2GSF;Initial Catalog=GestionCegep;User ID=sa;Password=sql"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>



