<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add connectionString="Data Source=MSI;Initial Catalog=gestionCegep;Integrated Security=True"
		  name="cnxSqlServer" providerName="System.Data.SqlServer"/>
		
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>



